@use "components";

@mixin section-display{
    width: 100%;
    // max-width: 768px;
    // margin: auto;
    padding: 3rem;
}

// @mixin medium {
//     @media screen and (max-width: 768px) {
//         .features{
//             .text{
//                 max-width: 100%;
//             }
//         }
//     }
// }

body{
    padding:0;
    margin: 0;
}

p{
    margin: 0;
    padding: 0;
}
.nav{
    display:flex;
    justify-content: space-around;
    width: 100%;
    height: 4rem;
    border-bottom: solid 1px #ddd;
    align-items: center;
}

.sec-home{
    display: flex;
    align-items: center;
    @include section-display();
        .home-cta{
        flex:1;
        .cta-text{
            color: components.$color-main;
        }  
        .home-title{
            width: 25rem;
            font-weight: bold;
        }
        .home-description{
            margin: 1.5rem 0;
        } 
    }
}

.sec-features{
    // display: flex;
    @include section-display();
    text-align: center;
    .intro{
        h3{
            font-size: 1.8rem;
        }
        p{
            font-size: 0.8rem;
            color: #888;
        }
    }
    .features{
        max-width: 100%;
        // height: 100vh;
        display:flex;
        justify-content: space-between;
        // align-items: center;
        .text{
            // @include medium();
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            max-width: 40%;
            padding: 2rem 0;
            margin: 5rem 0;
            .feature{
                gap:1rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                text-align: left;
                .description{
                    .description-title{
                        font-size:1.15rem;
                    }
                    .description-text{
                        font-size: .8rem;

                    }
                }
            }
        }
        .image{
            img{
                max-width: 100%;
                max-height: 100vh;
            }
        }
    }
}

.sec-benefits{
    border-top: 1px solid #ccc;
    @extend .sec-features, .intro;
    .benefit-cards{
        width: 100%;
    }
}

.sec-kpis{
    width: 100%;
    background-color: components.$color-main;
    color:white;
    padding: 4rem 0;
    .kpis{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .kpi{
            display: inherit;
            flex-direction: column;
            align-items: center;
            .number{
                font-size: 3.5rem;
                font-weight: 600;
            }
            .desc{
                font-size: .9rem;
                color: #ffffffaa;
            }
        }
    }
} 

.sec-onboarding{
    @extend .sec-benefits, .intro;
    .steps{
        display:flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        .step-separator{
            flex:1;
            border-top: 2px solid #ddd;
            margin: 0 1.5rem;
        }
    }
}

.sec-footer-cta{
    background-color: components.$color-footer;
    // width: 100%;
    padding: 5rem;
    background-image: url(../assets/img/crypto.webp);
    background-repeat: no-repeat;
    // background-size: cover;
    background-position: 100%;
    .footer-cta{
        width: 50%;
        .cta-title{
            font-size: 2rem;
        }
        .cta-description{
            font-size: 1.1rem;
        }
    }
    
}

@media screen and (max-width: 768px) {
    .sec-kpis{
        .kpis{
            // display: block;
            flex-direction: column;
        }
    }
    .sec-onboarding{
        .steps{
            // display: block;
            flex-direction: column;
        }
    }
    .features{
        .text{
            min-width: 100%;
        }
    }
    .sec-footer-cta{
        background-image: none;
        .footer-cta{
            width: 100%;
            text-align: center;
        }
    }
}