*{
    margin: 0;
    padding: 0;
}

body{
    width:100%;
    display:flex;
    gap: 2rem;
}


.content{
    flex-grow: 2;
}

@media screen and (max-width: 640px) {
    body{
        width: 100vw;
        display: grid;
        margin:  20px;;
    }
    .nav{
        grid-row: 2; 
    }
    .nav ul{
        display: flex;
        justify-content: space-between;
    }
    
}